In [1]:
import requests
import pandas as pd
import numpy as np
import re

In [2]:
moviedata = pd.read_csv(r'../data/MovieData.csv')

In [3]:
moviedata

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,The Nutcracker and the Four Realms,2018,298170100,132900000,54858851,115435048,PG,Fantasy,Based on Folk Tale/Legend/Fairytale,Live Action,Adventure,0.0,99.0
1932,Aquaman,2018,213100100,160000000,333804251,805605026,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,143.0
1933,Ralph Breaks The Internet,2018,263730100,175000000,200236625,319167373,PG,Kids Fiction,Original Screenplay,Digital Animation,Adventure,1.0,112.0
1934,Mission: Impossible—Fallout,2018,248680100,178000000,220159104,567297448,PG-13,Contemporary Fiction,Based on TV,Live Action,Action,1.0,147.0
1935,Fantastic Beasts: The Crimes of Grindelwald,2018,222990100,200000000,159555901,492664185,PG-13,Fantasy,Spin-Off,Live Action,Adventure,1.0,134.0

In [4]:
y2006 = pd.DataFrame(moviedata.loc[moviedata.production_year ==2006])

In [5]:
y2006

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Bee Movie,2006,2760100,150000000,126631277,160963300,PG,Kids Fiction,Original Screenplay,Digital Animation,Adventure,0.0,90.0
156,Poseidon,2006,8530100,160000000,60674817,121000000,PG-13,Contemporary Fiction,Remake,Live Action,Adventure,0.0,NaN
157,X-Men: The Last Stand,2006,620100,210000000,234362462,224898484,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,104.0
158,Pirates of the Caribbean: Dead Man’s Chest,2006,70100,225000000,423315812,642900000,PG-13,Historical Fiction,Based on Theme Park Ride,Live Action,Adventure,1.0,151.0
159,Superman Returns,2006,940100,232000000,200120000,173965065,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Adventure,0.0,150.0

In [6]:
(y2006.production_budget.sum())/len(y2006.production_budget)

44693750.0

In [7]:
y2006.production_budget.mean()

44693750.0

In [8]:
y2018 = pd.DataFrame(moviedata.loc[moviedata.production_year ==2018])
round((y2018.production_budget.sum())/len(y2018.production_budget),2)

68071794.87

In [9]:
round((68071794.87 - 44693750.0),2)

23378044.87

In [10]:
round((68071794.87/44693750.0), 2)*100

152.0

In [11]:
avg_2006_budget = (y2006.production_budget.sum())/len(y2006.production_budget)
y2018 = pd.DataFrame(moviedata.loc[moviedata.production_year ==2018])
avg_2018_budget = (y2018.production_budget.sum())/len(y2018.production_budget)
avg_difference = avg_2018_budget - avg_2006_budget
twelve_year_percent_increase = round((avg_2018_budget / avg_2006_budget ),2)*100
print(str('twelve year increased budget percent: '), twelve_year_percent_increase, str('%') )

twelve year increased budget percent:  152.0 %

In [12]:
y2006_hero = pd.DataFrame(y2006.loc[y2006.creative_type == 'Super Hero'])

In [13]:
y2006_hero

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
75,My Super Ex-Girlfriend,2006,23230100,30000000,22530295,38242561,PG-13,Super Hero,Original Screenplay,Live Action,Comedy,0.0,NaN
88,Zoom,2006,34430100,35000000,11989328,516860,PG,Super Hero,Based on Comic/Graphic Novel,Live Action,Adventure,0.0,NaN
157,X-Men: The Last Stand,2006,620100,210000000,234362462,224898484,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,104.0
159,Superman Returns,2006,940100,232000000,200120000,173965065,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Adventure,0.0,150.0

In [14]:
y2006_hero_avg_budget = (y2006_hero.production_budget.mean())
y2006_hero_avg_budget

126750000.0

In [15]:
y2018_hero = pd.DataFrame(y2018.loc[y2018.creative_type == 'Super Hero'])

In [16]:
y2018_hero

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1924,Spider-Man: Into The Spider-Verse 3D,2018,229420100,90000000,188016276,175962777,PG,Super Hero,Based on Comic/Graphic Novel,Digital Animation,Adventure,0.0,117.0
1928,Venom,2018,149960100,116000000,213511408,640117197,PG-13,Super Hero,Spin-Off,Animation/Live Action,Action,0.0,112.0
1932,Aquaman,2018,213100100,160000000,333804251,805605026,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,143.0

In [17]:
y2018_hero.production_budget.mean()

122000000.0

In [18]:
y2018_hero_avg_budget = (y2018_hero.production_budget.mean())

In [19]:
y2018_hero_avg_budget

122000000.0

In [20]:
y2018_hero_avg_budget - y2006_hero_avg_budget

-4750000.0

In [21]:
twelve_year_hero__percent_increase = round((y2018_hero_avg_budget / y2006_hero_avg_budget ),2)*100
print(str('twelve year hero increased budget percent: '), twelve_year_hero__percent_increase, str('%') )

twelve year hero increased budget percent:  96.0 %

In [22]:
y2018_hero.loc[y2018_hero.production_method == ('Live Action')]

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1932,Aquaman,2018,213100100,160000000,333804251,805605026,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,143.0

In [23]:
moviedata[moviedata['movie_name'].str.contains("Dark Knight")==True]

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
496,The Dark Knight,2008,20100,185000000,533720947,468275260,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,152.0
1208,The Dark Knight Rises,2012,140240100,275000000,448139099,636300000,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,164.0

In [24]:
moviedata[moviedata['movie_name'].str.contains("Batman")==True]

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1638,Batman v Superman: Dawn of Justice,2015,196380100,250000000,330360194,537140087,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,151.0
1740,The Lego Batman Movie,2016,217170100,80000000,175750384,134909634,PG,Kids Fiction,Based on Toy,Digital Animation,Adventure,1.0,106.0

In [25]:
moviedata[moviedata['movie_name'].str.contains("Justice")==True]

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1638,Batman v Superman: Dawn of Justice,2015,196380100,250000000,330360194,537140087,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,151.0
1894,Justice League,2017,213080100,300000000,229024295,426920914,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,121.0

In [26]:
batman_df = pd.read_csv(r'../data/full_data1.csv')

In [27]:
batman_df

                                Title  year rating  rank_rating
0                              Batman  1989  PG-13          7.5
1                      Batman Returns  1992  PG-13          7.1
2                      Batman Forever  1995  PG-13          5.4
3                      Batman & Robin  1997  PG-13          3.7
4                       Batman Begins  2005  PG-13          8.2
5                     The Dark Knight  2008  PG-13          9.0
6               The Dark Knight Rises  2012  PG-13          8.4
7  Batman v Superman: Dawn of Justice  2016  PG-13          6.4
8                      Justice League  2017  PG-13          6.1
9                          The Batman  2022  PG-13          7.9

In [28]:
bat_series = batman_df.iloc[:,0]

batman_movies_df = moviedata[moviedata['movie_name'].isin(bat_series)]
batman_movies_df

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
496,The Dark Knight,2008,20100,185000000,533720947,468275260,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,152.0
1208,The Dark Knight Rises,2012,140240100,275000000,448139099,636300000,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,164.0
1638,Batman v Superman: Dawn of Justice,2015,196380100,250000000,330360194,537140087,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,1.0,151.0
1894,Justice League,2017,213080100,300000000,229024295,426920914,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,121.0

In [29]:
batman_movies_df.production_year.max()

2017

In [30]:
batman_movies_df.production_year.min()

2008

In [31]:
bat_series_year = batman_movies_df.iloc[:,1]

In [32]:
bat_series_year

496     2008
1208    2012
1638    2015
1894    2017
Name: production_year, dtype: int64

In [63]:
movie_compare08 = pd.DataFrame(moviedata.loc[moviedata.production_year == (2008)])

movie_compare08.head()

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
314,Fifty Dead Men Walking,2008,114690100,10000000,0,997921,R,Dramatization,Based on Real Life Events,Live Action,Drama,0.0,NaN
315,The Oxford Murders,2008,118680100,10000000,4803,17699328,R,Contemporary Fiction,Based on Fiction Book/Short Story,Live Action,Thriller/Suspense,0.0,108.0
316,Nick and Norah's Infinite Playlist,2008,18090100,10000000,31487293,2398724,PG-13,Contemporary Fiction,Based on Fiction Book/Short Story,Live Action,Drama,0.0,86.0
317,Over Her Dead Body,2008,41220100,10000000,7570127,14025947,PG-13,Fantasy,Original Screenplay,Live Action,Comedy,0.0,95.0
318,Kit Kittredge: An American Girl,2008,27330100,10000000,17657973,0,G,Historical Fiction,Based on Toy,Live Action,Drama,0.0,100.0

In [64]:
movie_compare12 = pd.DataFrame(moviedata.loc[moviedata.production_year == (2012)])

movie_compare12.head()

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1111,Atlas Shrugged: Part II,2012,177970100,10000000,3336053,0,PG-13,Science Fiction,Based on Fiction Book/Short Story,Live Action,Drama,1.0,112.0
1112,The Collection,2012,174800100,10000000,6810754,2079340,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,82.0
1113,The Iceman,2012,185940100,10000000,1930282,1693327,R,Dramatization,Based on Real Life Events,Live Action,Drama,0.0,105.0
1114,Sparkle,2012,170940100,10000000,24397469,262854,PG-13,Historical Fiction,Remake,Live Action,Drama,0.0,112.0
1115,Mud,2012,180070100,10000000,21590086,9966873,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Drama,0.0,130.0

In [65]:
movie_compare15 = pd.DataFrame(moviedata.loc[moviedata.production_year == (2015)])

movie_compare15.head()

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1478,Sinister 2,2015,211270100,10000000,27740955,26363270,R,Fantasy,Original Screenplay,Live Action,Horror,1.0,97.0
1479,Free Fire,2015,223800100,10000000,1799322,1994417,R,Historical Fiction,Original Screenplay,Live Action,Action,0.0,90.0
1480,The Forest,2015,208700100,10000000,26594261,14154969,PG-13,Fantasy,Original Screenplay,Live Action,Thriller/Suspense,0.0,93.0
1481,When the Bough Breaks,2015,221130100,10000000,29747603,1020846,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Thriller/Suspense,0.0,107.0
1482,Insidious Chapter 3,2015,200270100,10000000,52218558,68234597,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Horror,0.0,97.0

In [66]:
movie_compare17 = pd.DataFrame(moviedata.loc[moviedata.production_year == (2017)])

movie_compare17.head()

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1778,Jigsaw,2017,265280100,10000000,38052832,64392364,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,91.0
1779,Lady Bird,2017,298240100,10000000,48958273,29652496,R,Contemporary Fiction,Original Screenplay,Live Action,Drama,0.0,93.0
1780,Insidious: The Last Key,2017,264840100,10000000,67745330,100140258,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,103.0
1781,"Love, Simon",2017,305710100,10000000,40826341,24694292,PG-13,Contemporary Fiction,Based on Fiction Book/Short Story,Live Action,Drama,0.0,107.0
1782,Hereditary,2017,309470100,10000000,44069456,26064449,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,0.0,126.0